<html>
  <head>
    <title>Caixa de Pergunta</title>
    <script>
      confirm('Por favor, escreva a sua pergunta!')
      window.location.replace('/room/<%= roomId %>')
    </script>
  </head>
</html>